@using ProjectSevenDayNight.Helpers
@{
    string currentLanguage = Session["CurrentLanguage"] as string ?? "en";
    string currentLanguageText = currentLanguage == "en" ? "English" : "Deutsch";
}

<div class="container-fluid topbar px-0 px-lg-4 bg-light py-2 d-none d-lg-block">
    <div class="container">
        <div class="row gx-0 align-items-center">
            <div class="col-lg-8 text-center text-lg-start mb-lg-0">
                <div class="d-flex flex-wrap">
                    <div class="border-end border-primary pe-3">
                        <a href="#" class="text-muted small"><i class="fas fa-map-marker-alt text-primary me-2"></i>@SimpleResourceHelper.GetString("FindLocation")</a>
                    </div>
                    <div class="ps-3">
                        <a href="mailto:example@gmail.com" class="text-muted small"><i class="fas fa-envelope text-primary me-2"></i>example@gmail.com</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center text-lg-end">
                <div class="d-flex justify-content-end">
                    <div class="d-flex border-end border-primary pe-3">
                        <a class="btn p-0 text-primary me-3" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn p-0 text-primary me-3" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn p-0 text-primary me-3" href="#"><i class="fab fa-instagram"></i></a>
                        <a class="btn p-0 text-primary me-0" href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="dropdown ms-3">
                        <a href="#" class="dropdown-toggle text-dark" data-bs-toggle="dropdown"><small><i class="fas fa-globe-europe text-primary me-2"></i> @currentLanguageText</small></a>
                        <div class="dropdown-menu rounded">
                            <a href="@Url.Action("ChangeLanguage", "Language", new { language = "en" })" class="dropdown-item">@SimpleResourceHelper.GetString("LanguageEnglish")</a>
                            <a href="@Url.Action("ChangeLanguage", "Language", new { language = "de" })" class="dropdown-item">@SimpleResourceHelper.GetString("LanguageGerman")</a>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>