@model List<ProjectSevenDayNight.Models.DataModels.TblProduct>
@using ProjectSevenDayNight.Helpers
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br />
    <table class="table table-hover">
        <tr>
            <th>#</th>
            <th>@SimpleResourceHelper.GetString("ProductName")</th>
            <th>@SimpleResourceHelper.GetString("ProductStock")</th>
            <th>@SimpleResourceHelper.GetString("ProductStatus")</th>
            <th>@SimpleResourceHelper.GetString("ProductPrice")</th>
            <th>@SimpleResourceHelper.GetString("ProductCategory")</th>
            <th>@SimpleResourceHelper.GetString("DeleteProduct")</th>
            <th>@SimpleResourceHelper.GetString("UpdateProduct")</th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductId</td>
                <td>@item.T("ProductName")</td>
                <td>@item.ProductStock</td>
                <td>@item.ProductStatus</td>
                <td>@item.ProductPrice</td>
                <td>@(item.TblCategory != null ? item.TblCategory.T("CategoryName") : SimpleResourceHelper.GetString("NoCategory"))</td>
                <td><a href="/Product/DeleteProduct/@item.ProductId" class="btn btn-danger">@SimpleResourceHelper.GetString("DeleteProduct")</a></td>
                <td><a href="/Product/UpdateProduct/@item.ProductId" class="btn btn-primary">@SimpleResourceHelper.GetString("UpdateProduct")</a></td>



            </tr>
        }
    </table>
    <a href="/Product/CreateProduct/" class="btn btn-primary">@SimpleResourceHelper.GetString("AddNewProduct")</a>
</div>
