@using ProjectSevenDayNight.Helpers
@model List<ProjectSevenDayNight.Models.DataModels.Contact>
@{
    ViewBag.Title = "Contact List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />
<br />
<br />

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <div class="d-flex align-items-center">
                <h4 class="card-title">İletişim Listesi</h4>
                <a href="/Contact/CreateContact" class="btn btn-primary btn-round ms-auto">
                    <i class="fa fa-plus"></i> İletişim Ekle
                </a>
            </div>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table id="add-row" class="display table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Subtitle</th>
                            <th>Description</th>
                            <th>SocialMedia</th>
                            <th>SocialMediaImageUrl</th>
                            <th>Address</th>
                            <th>Mail</th>
                            <th>Telephone</th>
                            <th style="width: 10%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ContactId</td>
                                <td>@item.T("Title")</td>
                                <td>@item.T("Subtitle")</td>
                                <td>@item.T("Description")</td>
                                <td>@item.SocialMedia</td>
                                <td>@item.SocialMediaImageUrl</td>
                                <td>@item.T("Address")</td>
                                <td>@item.Mail</td>
                                <td>@item.Telephone</td>
                                <td>
                                    <div class="form-button-action d-flex gap-2">
                                        <a href="/Contact/UpdateContact/@item.ContactId"
                                           class="btn btn-primary d-flex align-items-center gap-1"
                                           data-bs-toggle="tooltip"
                                           title="Edit">
                                            <i class="fa fa-edit"></i> <span>Update</span>
                                        </a>
                                        <a href="/Contact/DeleteContact/@item.ContactId"
                                           class="btn btn-danger d-flex align-items-center gap-1"
                                           data-bs-toggle="tooltip"
                                           title="Delete"
                                           onclick="return confirm('Silmek istediğinize emin misiniz?');">
                                            <i class="fa fa-times"></i> <span>Delete</span>
                                        </a>
                                    </div>

                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> 