@model List<ProjectSevenDayNight.Models.DataModels.About>
@{
    ViewBag.Title = "About List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />
<br />
<br />

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <div class="d-flex align-items-center">
                <h4 class="card-title">About List</h4>
                <a href="/About/CreateAbout" class="btn btn-primary btn-round ms-auto">
                    <i class="fa fa-plus"></i> Add About
                </a>
            </div>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table id="add-row" class="display table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Subtitle</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>BulletPoint1</th>
                            <th>BulletPoint2</th>
                            <th>BulletPoint3</th>
                            <th>ButtonText</th>
                            <th style="width: 10%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.AboutId</td>
                                <td>@item.Subtitle</td>
                                <td>@item.Title</td>
                                <td>@item.Description</td>
                                <td>@item.BulletPoint1</td>
                                <td>@item.BulletPoint2</td>
                                <td>@item.BulletPoint3</td>
                                <td>@item.ButtonText</td>
                                <td>
                                    <div class="form-button-action d-flex gap-2">
                                        <a href="/About/UpdateAbout/@item.AboutId"
                                           class="btn btn-primary d-flex align-items-center gap-1"
                                           data-bs-toggle="tooltip"
                                           title="Edit">
                                            <i class="fa fa-edit"></i> <span>Update</span>
                                        </a>
                                        <a href="/About/DeleteAbout/@item.AboutId"
                                           class="btn btn-danger d-flex align-items-center gap-1"
                                           data-bs-toggle="tooltip"
                                           title="Delete"
                                           onclick="return confirm('Are you sure you want to delete?');">
                                            <i class="fa fa-times"></i> <span>Delete</span>
                                        </a>
                                    </div>

                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
