@model ProjectSevenDayNight.Models.DataModels.About

@{
    ViewBag.Title = "Update About";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>@ViewBag.Title</h3>

@using (Html.BeginForm("UpdateAbout", "About", FormMethod.Post, new { @class = "mt-4" }))
{
    @Html.HiddenFor(m => m.AboutId)

    <div class="mb-3">
        <label class="form-label">Subtitle</label>
        @Html.TextBoxFor(m => m.Subtitle, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Subtitle, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        <label class="form-label">Title</label>
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        <label class="form-label">Description</label>
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = "5" })
        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        <label class="form-label">Bullet Point 1</label>
        @Html.TextBoxFor(m => m.BulletPoint1, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.BulletPoint1, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        <label class="form-label">Bullet Point 2</label>
        @Html.TextBoxFor(m => m.BulletPoint2, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.BulletPoint2, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        <label class="form-label">Bullet Point 3</label>
        @Html.TextBoxFor(m => m.BulletPoint3, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.BulletPoint3, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        <label class="form-label">Button Text</label>
        @Html.TextBoxFor(m => m.ButtonText, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ButtonText, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
    <a href="/About/AboutList" class="btn btn-secondary ms-2">Cancel</a>
}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
}
